<html>
	<head th:replace="~{base :: head}"></head>
	<body onload="onload()">
		<div th:replace="~{base :: logo}"></div>
    
		<div class="container" id="ofertas">
		
			<div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>	
			
			<div class="card mb-3" v-for="pedido in pedidos">
				
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
						
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <input /></div>
								<div class="col-md-7">Data da Entrega: <input /></div>							
							</div>
							
							<div>Produto: </div>
							<div> <a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<script>
			function onload(){
				var app = new Vue({
					  el: '#ofertas',
					  data: {
					    pedidos: [{"id":5,"nomeProduto":"Redmi Note 9S","valorNegociado":900.00,"dataDaEntrega":"2021-01-26","urlProduto":"https://www.amazon.com.br/Redmi-Note-9S-Aurora-128GB/dp/B086CXR646?ref_=Oct_s9_apbd_otopr_hd_bw_bHjJLCl&pf_rd_r=Y69KE069ZKHCH22SSNWN&pf_rd_p=1da659a0-948a-52ba-a216-243433981446&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=16243803011","urlImagem":"https://images-na.ssl-images-amazon.com/images/I/61ShPQu-u0L._AC_SL1200_.jpg","descricao":"Teste","status":"AGUARDANDO","user":{"username":"maria","password":"$2a$10$Z9CEqyUh20JBibTT8OEC4eTJjjXc2PIqqtZ6Jkj209Op84iq16dGC","enabled":true}}]
					  }
					});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</body>
</html>